.swatch-block .swatch{display:block;content:"";border-radius:8px;margin-top:3px;height:45px;width:45px}.swatch-block .swatch-info p{line-height:normal}.swatch-block .swatch-info p span{display:block}
/*# sourceMappingURL=style-guide.css.map */
