section#page-banner {
	position:relative;
	@include breakpoint(small) { padding-top:70px;} // 0px - 419px	
	@include breakpoint(smedium) { padding-top:75px; } //	420px - 639px
	@include breakpoint(medium) {  padding-top:70px; } // 640px - 768px	
	@include breakpoint(xmedium) { padding-top:90px; } // 769px - 1024px	
	@include breakpoint(large) { padding-top:130px; }	// 1025px - 1199px	
	
	.banner-content {
		// Specify or use Banner Base Height (make sure to remove breakpoints)	
		@include breakpoint(small) { min-height: 235px; } // 0px - 419px	
		@include breakpoint(smedium) { min-height: 310px; }  //	420px - 639px
		@include breakpoint(medium) { min-height: 195px; } // 640px - 768px	
		@include breakpoint(xmedium) { min-height: 265px; } // 769px - 1024px
		@include breakpoint(large) { min-height: 190px; } // 1025px - 1199px

		
		h1, p {
			color: $white;
			text-transform: uppercase;
			margin:0;
			@include breakpoint(small) { letter-spacing:1.1px; line-height:1.2; } // 0px - 419px	
			@include breakpoint(smedium) {letter-spacing:2px; line-height:1.3;  } // 420px - 639px
			@include breakpoint(medium) { line-height: 1; letter-spacing:2.2px;  } // 640px - 768px	
			@include breakpoint(xmedium) { letter-spacing:2.5px; } // 769px - 1024px
			@include breakpoint(large) { line-height: 2.3rem; letter-spacing:1.9px; } // 1025px - 1199px
		}

		.sub-header {
			margin: 0;
			color: $white;
			text-transform: uppercase;
			font-family: $body-font-family;		
			display: inline-block;
			width: 100%;
			@include breakpoint(small) { letter-spacing:2.5px; margin-top:3px; } // 0px - 419px
			@include breakpoint(smedium) { letter-spacing:3.7px; margin-top:4px; } // 420px - 639px
			@include breakpoint(medium) { letter-spacing:2.5px; margin-top:0; } // 640px - 768px	
			@include breakpoint(xmedium) { letter-spacing:3.9px; } // 769px - 1024px
			@include breakpoint(large) { letter-spacing:3px;  } // 1025px - 1199px
		}
	}
	&.navStyleCurtain {
		@include breakpoint(small) { padding-top:0px; } // 0px - 419px	
		@include breakpoint(smedium) { } //	420px - 639px
		@include breakpoint(medium) { padding-top:0px; } // 640px - 768px	
		@include breakpoint(xmedium) { } // 769px - 1024px	
		@include breakpoint(large) { padding-top:0px; }	// 1025px - 1199px	
		.banner-content	{
			.h1, h1 {margin-top: 2rem;}
			.h1 small, h1 small {
				margin-bottom: 0;
			}
		}
	}
}