.add-footer-bg {
	h2, h3, h4 {
		font-weight: 600;
	}
// 	margin-top: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	h2, h3, h4, p {
		color: $white;
	}
	a {
		color: $black;
		font-weight: 600;
	}
}