@include breakpoint(small) { } // 0px - 419px	
@include breakpoint(smedium) { } //	420px - 639px
@include breakpoint(medium) { } // 640px - 768px	
@include breakpoint(xmedium) { } // 769px - 1024px	
@include breakpoint(large) { }	// 1025px - 1199px



#fp-content {	
	// PRESET VALUES	
	.grid-x { z-index: 10; position: relative; }
	.fp-sections {
		padding:50px 0;
	}
	
	 .fp-sections.parallax {
		 background-repeat: no-repeat;
	 }
	
	.fp-parallax {
		h1,h2,h3,h4 { color:white; }
		color:white;
	}
	
	.box-shadow {
		@include box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.4));
	}

	.whiteBox {
		background-color: $white;
		padding: 10rem 3rem 3rem;
		@include breakpoint(xmedium){
			padding-top: 3rem;
		}
		h2,h3,h4,h5 { color: $secondary-color;}
		color: $black;
		.button {
			min-width: 100%;
			@include breakpoint(xmedium){
				max-width: 60%;
			}
		}
	}
}

.primary-gradient-block {
	color:$white;
	h2, h3, h3, h4 {
		color:$white;
		padding-bottom: 0;
		margin-bottom: 0;
		@include breakpoint(medium){
			text-align: right;
			line-height: 3rem;
		}
	}
	@include linear-gradient(to right, rgba($primary-color, 1) 0%, rgba($primary-dark, 1) 100%);
	.button.white.hollow,
	.button.white.hollow:active, 
	.button.white.hollow:focus,
	.button.white.hollow:visited,
	.button.white.hollow:active,
	.button.white.hollow:focus,
	.button.white.hollow:visited {
		background-color: transparent !important;
		background: transparent;
		min-width: 300px;
		margin-bottom: 0;
	}
	p {
		margin-bottom: 0;
	}
}
.flexibleSlider .credsSlider.carousel {
	margin: 0rem 0rem 15rem;
	@include breakpoint(xmedium){
		margin: 0rem 0rem 6rem;
	}
}
#reviewsSection {
	.fp-parallax,
	.fp-parallax h1,
	.fp-parallax h2, 
	.fp-parallax h3, 
	.fp-parallax h4	{
		color: $black;
	}
	hr {
		border-color: $dark-gray;
		margin: 1.25rem auto 2.5rem;
	}
}
.tan-bg {
	background-color: #ecdfca;
	h2, h3, h4, h5 {
		font-weight: 800;
	}
	hr {
		border-color: $dark-gray;
		margin: 1.25rem auto 2.5rem;
	}
}