/***********************************************************
.sticky-wrapper-navigation height settigns for banner offset
***********************************************************/

$sticky-navigation-height: 68px;
$sticky-navigation-height-smedium: $sticky-navigation-height; // currently same as small 
$sticky-navigation-height-medium: $sticky-navigation-height; // currently same as small
$sticky-navigation-height-xmedium: 94px;
$sticky-navigation-height-large: $sticky-navigation-height-xmedium; // currently leave as as xmedium
$sticky-navigation-height-large-fixed: 128px;

.home .off-canvas-content {
	padding-top: 70px;
	@include breakpoint(smedium) { padding-top: 72px; }	
	@include breakpoint(medium) { padding-top: 66px; }	
	@include breakpoint(xmedium) { padding-top: 88px; }
	@include breakpoint(large) { padding-top: 0; }
}

#fp-frontpage-banner {
	position: relative;
	overflow: hidden;
						
	.tagline {
		color:white;
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		margin:auto;		
		z-index: 2;
		a {	color:white; font-size:25px; i { font-size:50px; }}
	}
	
	h1 { 
		// default all styles from 0px - 100% of screen
		color: $white;
		font-size:25px; 
		margin-top: $sticky-navigation-height;
		margin-bottom: 1em; 
		line-height: 1;
		@include breakpoint(smedium) { font-size:14px; line-height: 1; margin-top: $sticky-navigation-height-smedium; } //	420px - 639px
		@include breakpoint(medium ) { font-size:20px;  margin-bottom: 0.5em; margin-top: $sticky-navigation-height-medium;} // 640px - 768px	
		@include breakpoint(xmedium) { font-size:25px; margin-bottom: 1.4rem;  margin-top: $sticky-navigation-height-xmedium;} // 769px - 1024px	
		@include breakpoint(large) { font-size:28px; margin-top: $sticky-navigation-height-large; margin-bottom: 1.4rem;  }	// 1025px - 1199px
		& + p {margin-bottom: 1.9rem;}
	}
	.banner-wrapper {			
		background-size: cover;
		background-position: center center;
		z-index: -1;
		.full-image {
			width:100%;
			height:100%;
		}		
		
		.video {
			position:absolute;
			height:100%;
			width:100%;
			overflow: hidden;
			top:0;
			z-index: 1;
		}		
		.video #fpVideo {
			 min-width: 100%;
			 min-height: 100%;
			 top:0;
			 object-fit: cover;
		}
	}		
	#scrollDown {
		position: relative;
		bottom: 1rem;
		i {
		color: $primary-color;
		position: relative;
		bottom: 134px;
	    font-size: 30px;}
			&.cell:before {
			content: " ";
		    position: relative;
		    bottom: 100px;
		    height: 100px;
		    width: 94px;
		    margin: 0 auto;
		    display: block;
		    z-index: 0;
		    border-top: 59px solid transparent;
		    border-bottom: 59px solid #fff;
		    border-left: 50px solid transparent;
		    border-right: 50px solid transparent
			}
	}
}