/*********************
BREAKPOINT GUIDE
*********************/
/*
@include breakpoint(small) { } // 0px - 419px	
@include breakpoint(smedium) { } //	420px - 639px
@include breakpoint(medium) { } // 640px - 768px	
@include breakpoint(xmedium) { } // 769px - 1024px	
@include breakpoint(large) { }	// 1025px - 1199px
@include breakpoint(xlarge) { }	// 1200px - 1439px
@include breakpoint(xxlarge) { } // 1440px - beyond	
*/


/****************
VARIABLES - DESKTOP
*****************/

// Desktop Size
$upperbar-bg-color-static:transparent;
$upperbar-bg-color-fixed:$light-gray;
$lowerbar-bg-color-static:transparent;
$lowerbar-bg-color-fixed:white;

//Level 1
$menu-desktop-font-color-static:white;
$menu-desktop-font-color-fixed:black;
$menu-desktop-font-color-active:#7f93a3;

$menu-desktop-color-after-class:#08b9b1;


//Level 2
$submenu-desktop-bg-color:#ececec;
$submenu-desktop-bg-color-hover:#bee3e2;
$submenu-desktop-font-color:black;
$submenu-desktop-font-color-hover:black;			
$submenu-desktop-color-active:red;


//level 3
$sSubmenu-desktop-bg-color:#424242;
$sSubmenu-desktop-bg-color-hover:#424242;
$sSubmenu-desktop-font-color:black;	
$sSubmenu-desktop-font-color-hover:#05c1ba;
$sSubmenu-desktop-color-active:red;


/****************
VARIABLES - Tablet
*****************/

// Tablet Size 

$hamburger-background-color:#cb3d18;
$hamburger-background-color-fixed:#cb3d18;
$hamburger-font-color:white;
$hamburger-font-color-fixed:white;

$phone-background-color:$primary-color;
$phone-background-color-fixed:$primary-color;
$phone-font-color:white;
$phone-font-color-fixed:white;

$tablet-bg-color:white;
$tablet-bg-color-fixed:white;

$font-size-small:33px;
$font-size-smedium:42px;
$font-size-medium:42px;
$font-size-xmedium:62px;



/****************
NAVIGATION - STATIC
*****************/


.no-js .lower-bar.wait-js #menu-topnav-1,
.lower-bar.wait-js #menu-topnav-1 {
	opacity: 0;
	visibility: hidden;
	display: none;
}


.sticky-container{ position: absolute; top:0; width:100%; z-index: 999; }
.sticky-wrapper-navigation{	
	top:0;
	.upper-bar { 
		@include transition(all .45s ease-in-out);
		background-color:$upperbar-bg-color-static;
		max-height:0;
		opacity:0;
		visibility:hidden;
		overflow: hidden;		
	
		.cta a.button {
			margin-bottom: 0;
			color: $white;
			min-width: rem-calc(300px);
			line-height: .33rem;
			padding-top: 1.2rem;
			padding-bottom: 1rem;
			font-size: 20px;
			box-shadow: none;
		}
		.menu {
			height: auto;
			&.socialLinks {
				li:first-of-type > a { padding-left: .5rem; }
			}
			li {
					line-height: 1rem;
				span {
					padding: .8rem 0 .7rem;
				}
				a {
					padding: .8rem 1rem .7rem;
					line-height: inherit;
					font-weight: 600;
					
					
				}
			}
		}
	}
	
	.lower-bar {
		@include breakpoint(small) { background-color:$tablet-bg-color; }
		@include breakpoint(large) { background-color:$lowerbar-bg-color-static; }
		@include breakpoint(xmedium down){
			.grid-container {
				padding-left: 0;
				padding-right: 0;
			}
		}			
		@include transition(all .45s ease-in-out); 	
		//@include breakpoint(large) { padding: 1.3rem .5rem;	}	
		.logo-container { 
			@include breakpoint(small) { text-align:center; }
			@include breakpoint(large) { text-align:left; }
			img {
				@include breakpoint(small) { width:100%; max-width:135px; padding:5px 0; }
				@include breakpoint(smedium) { max-width:180px; }
				@include breakpoint(medium) { max-width:182px; }
				@include breakpoint(xmedium) { max-width:240px; }
				@include breakpoint(large) { max-width:150px; padding:25px 0; }
			}
		} 
		
		// Default Style Ref. nav-offcanvas-topbar.php
		.mobile-hamburger-container.default {
			.hamburger.control i {
				background-color:$hamburger-background-color;
				color:$hamburger-font-color;
			}
		}
		.mobile-phone-number-container.default {
			.phone.control i  {
				background-color:$phone-background-color;
				color:$phone-font-color;
			}
		}
		
		// MOBILE TILES CSS Refer to nav-offcanvas-tiles.php
		.mobile-hamburger-container.tiles {
			@include breakpoint(small only) { text-align: center; }
			.hamburger.control i {				
				@include breakpoint(smedium) { 
					background-color:$hamburger-background-color;
					color:$hamburger-font-color; 
				}
			}
		}
		.mobile-phone-number-container.tiles {
			@include breakpoint(small only) { text-align: center; }
			.phone.control i  {
				@include breakpoint(smedium) { 
					background-color:$phone-background-color;
					color:$phone-font-color; 
				}
			}
		}
		
			
		
		.control i {
			@include transition(all .10s ease-in-out);			
			@include breakpoint(small ) {padding:19px 20px; font-size:$font-size-small;	}			
			@include breakpoint(smedium ) {	padding: 15px; font-size:$font-size-smedium; }				
			@include breakpoint(medium) { padding:13px 25px; font-size:$font-size-medium;  }	
			@include breakpoint(xmedium) { padding:16px 30px; font-size:$font-size-xmedium;  }			
		}
		
		// MOBILE TILES CSS Refer to nav-offcanvas-tiles.php
		.mob-icon {
			@include breakpoint(small only) {
				border-left:1px solid white;
				border-right:1px solid white;
				&:first-child { border-left:none; }
				&:last-child { border-right:none; }
				background-color:$hamburger-background-color;
				padding:10px 0 5px;				
				&.mobile-phone-number-container {
					background-color:$phone-background-color;
					border-right:none;
				}
				i , a { color:white; font-weight:700;  }
				a { font-size:12px; }
			}
			
		}	
		
				
		

		ul.menu {
			li { 
				position: relative;	
				padding:10px 15px;
				&.active > a, &.is-active>a {
					background-color: transparent;
					color: $menu-desktop-font-color-active;
				}
				&:hover {
					a:before , &.is-active a:before {
						cursor: default;
						position: absolute;
						content: "";
						height: 4px;
						margin: 0 auto;
						width: 100%;
						background: $menu-desktop-color-after-class;
						bottom: 0px;
						left:0;						    
						} 
					}	
					&.is-dropdown-submenu-parent>a {
						padding-right:15px;
					}				 												
					a { 
						position:relative; 
						color:$menu-desktop-font-color-static;
						padding:2px 0 5px;				
					}
					&.menu-item-has-children {
					> a:after {
						 font-family: 'FontAwesome';
						 content: "\f0da";
						 width: auto;
						 height:auto;
						 border: none;
						 font-size: 15px;
						 right: -6px;
						 top:38%;
						  @include transition(transform .22s ease-in-out);

					}
					> ul.submenu {
						opacity: 0;
						-webkit-animation-duration: .22s;
						animation-duration: .22s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;						
						-webkit-animation-name: fadeOut !important;
						animation-name: fadeOut !important;
					}
					> ul.submenu li{
					  position: static;				
					  overflow:hidden;
					  -webkit-animation-duration: .22s;
					  animation-duration: .22s;
					  -webkit-animation-fill-mode: both;
					  animation-fill-mode: both;						
					  -webkit-animation-name: curtainOut!important;
					  animation-name: curtainOut !important;	
					
					}
					
					&:hover > ul.submenu > li{	
					  overflow:hidden !important;										
					  -webkit-animation-duration: .55s;
					  animation-duration: .55s;
					  -webkit-animation-fill-mode: both;
					  animation-fill-mode: both;						
					  -webkit-animation-name: curtainIn !important;
					  animation-name: curtainIn !important;							
					}
					&:hover	{ 
						> ul.submenu {
							opacity: 1;	
							-webkit-animation-duration: .55s;
							animation-duration: .55s;
							-webkit-animation-fill-mode: both;
							animation-fill-mode: both;						
							-webkit-animation-name: fadeIn !important;
							animation-name: fadeIn  !important;						
						}
						> a:after {
							-webkit-transform-origin: 50% 50%;
							transform-origin: 50% 50%;
							-webkit-transform: rotate(90deg);
							transform: rotate(90deg);
							top: 38%;
							@include transition(transform .55s ease-in-out);
						}
						
					}
					ul.submenu {											
						li.menu-item-has-children {													
							 > a:after {
								font-family: 'FontAwesome';
								content:'\f0d7';
								width: auto;
								height:auto;
								border: none;
								font-size: 18px;
								right: 36px;
								left:auto;
								top: 46%;
															
							}							
							&:hover {
								overflow: visible;
								&:before { 
									display:none !important; 
									background-color: transparent; 
								}
								> a:after { 							
									-webkit-transform: rotate(-90deg);
									transform: rotate(-90deg); 
								}
							}
							> ul.submenu {
								  -webkit-animation-duration: .22s;
								  animation-duration: .22s;
								  -webkit-animation-fill-mode: both;
								  animation-fill-mode: both;						
								  -webkit-animation-name: fadeOut !important;
								  animation-name: fadeOut !important;
								  > a {
									line-height: 1.5;
								  }						  
							}
							&:hover > ul.submenu{					
							  -webkit-animation-duration: .55s;
							  animation-duration: .55s;
							  -webkit-animation-fill-mode: both;
							  animation-fill-mode: both;						
							  -webkit-animation-name: fadeIn !important;
							  animation-name: fadeIn !important;								
							}						
						}
					}
				}							
				

				
				ul.submenu {						
						background-color:$submenu-desktop-bg-color;
						text-align: left;
						color:$submenu-desktop-font-color;																							
						border-color: transparent;						
						box-shadow: 1px 5px 20px rgba(0 ,0 ,0, .4);								
						&.is-dropdown-submenu {
							left:13px;
						}
						li:first-child { padding-top:15px; }
						li:last-child { padding-bottom:15px; }
						li {
							padding:0px;
							min-width:250px;
							a { 
								font-size:20px; 
								padding:20px 25px;	
								line-height: 1.2;							
								text-transform: capitalize;
								color:$submenu-desktop-font-color; 								
								&:before { background:transparent !important; display: none !important  }
							}				
							&:hover { 
								a { background-color: $submenu-desktop-bg-color-hover; color:$submenu-desktop-font-color-hover; };
								&:before { display: none; }
								a:before {  background:transparent !important; }
								}					
								
							ul.is-dropdown-submenu {
								min-height:225px;
								background-color:$sSubmenu-desktop-bg-color;								
								overflow: auto;								
								z-index: -2;
								padding-top:0;
								left:100%;
								min-width: 300px;
								box-shadow: 1px 10px 15px rgba(0,0,0,0.4);
								
								li {
									&:hover a { background-color:$sSubmenu-desktop-bg-color-hover !important; }
									a { color:$sSubmenu-desktop-font-color; background-color:$sSubmenu-desktop-bg-color-hover !important;
										&:hover { color:$sSubmenu-desktop-font-color-hover; } 
									}
								}
							}
							
							&.double {
								min-width:180px;	
								@media (min-width:1500px){ 														
								ul.is-dropdown-submenu {
									min-width: 545px;
									overflow:visible;									
									background-color:$sSubmenu-desktop-bg-color;
									li:nth-child(2) {
										padding-top:15px;
									}		
									li { 
										width:50%;
										line-height:1.5em;			
										float:left;
										display:inline;
										
										
									}
								}
								}
							}
							
							
						}
						
					}					
					
				}
					
							 
			}		
		
		.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after	{
			content: "\f105";
			font-family: fontawesome;
			color:$menu-desktop-font-color-static;
			border: 0 none transparent;
			top: 0;
			margin-top: 0;
			right: 0px;
			font-weight: bold;
		}

	}	
}


/****************
NAVIGATION - FIXED
*****************/
.logged-in .sticky-wrapper-navigation.is-stuck ,
.logged-in.page .sticky-wrapper-navigation {
	margin-top:2em !important;
}

.sticky-wrapper-navigation.is-stuck,
.sticky-wrapper-navigation.is-fixed { 
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
	
	.upper-bar {
		@include transition(all .45s ease-in-out);
		background-color:$upperbar-bg-color-fixed;
		display:block;
		max-height:100px;
		opacity:1;
		visibility: visible;		
	}

	.lower-bar {
		@include transition(all .45s ease-in-out);
		@include breakpoint(small) { background-color:$tablet-bg-color-fixed; }
		@include breakpoint(large) { background-color:$lowerbar-bg-color-fixed; }
		
		.mobile-hamburger-container {
			.hamburger.control i {
				background-color:$hamburger-background-color-fixed;
				color:$hamburger-font-color-fixed;
			}
		}
		.mobile-phone-number-container {
			.phone.control i  {
				background-color:$phone-background-color-fixed;
				color:$phone-font-color-fixed;
			}
		}
		
		
		.menu {
			&.active > a, &.is-active>a {

			}
			
			li {
				a { color:$menu-desktop-font-color-fixed; }
				ul{}
			}
		}
		.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after	{ 
			color:$menu-desktop-font-color-fixed !important;
		}
			
	}
	
}

.sticky-wrapper-navigation.wait-js {
	box-shadow: none;
}

/************************
NAVIGATION - OFF CANVAS
*************************/

// Off-Canvas Size
$off-canvas-phone-wrap-bg-color: $primary-color;
$off-canvas-phone-wrap-link: white;
$off-canvas-phone-wrap-link-hover: #bbe4d9;


// Off Canvas Colors
// Level 1 Menu
$menu-bg-color:transparent;
$menu-font-color:rgba(97,95,95,1);
$menu-font-color-hover:;

$menu-active-bg-color:#2f6580;
$menu-active-font-color:#ffffff;
$menu-hover-bg-color:#2f6580;

			
// Level 2 Menu
$submenu-bg-color:#fff;
$submenu-bg-color-hover:#2f6580;
$submenu-border-color:#fff;
$submenu-font-color:$body-font-color;
$submenu-font-color-hover:white;

// Level 3 Menu
$subsubmenu-bg-color:#999;
$subsubmenu-border-color:#c4c4c4;
$subsubmenu-font-color:white;
$subsubmenu-font-color-hover:#2f6580;

#off-canvas {
	height:100%;	
	&.position-bottom,
	&.position-top {
		height: auto;
	}
	
	.offcanvas-phone-wrap {
			background-color:$off-canvas-phone-wrap-bg-color;
			.offcanvas-phone-container {
				padding:20px 0px 20px;
				color:white;
				font-size:20px;
				font-weight: 900;
				a {
					color:$off-canvas-phone-wrap-link;
					font-weight: 600;
					font-size:22px;
					&:hover {
						color:$off-canvas-phone-wrap-link-hover;
					}
				}
			}
	}
	
	 .is-accordion-submenu-parent > a::after { 
		 font-family: 'FontAwesome';
		 content:'\f054';
		 width: auto;
		 height:auto;
		 border: none;
		 font-size: 13px;
	 }
	 
	 
	 .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
	 	-ms-transform: rotate(90deg); /* IE 9 */
	 	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	 	transform: rotate(90deg);
    }
    
	 
	ul.menu {
		.active > a { 
			background-color:$menu-active-bg-color;
			color:$menu-active-font-color !important;
			&:before {
				position: absolute;
				content:'';
				display: block;
				height: 100%;
				width: 20px;
				background: $menu-active-bg-color;
				top: 0;
				left: 0;
			}		
		}    

		li {
			border-bottom: 1px solid #c4c4c4;
			position: relative;
			background-color:$menu-bg-color;
			
			&:hover {				
				&:before {
					position: absolute;
					content:'';
					display: block;
					height: 100%;
					width: 15px;
					background: $menu-hover-bg-color;
					top: 0;
					left: 0;
				}			
			}
			
			a {
				font-size:24px;
				color:$menu-font-color;
				text-transform: uppercase;
				font-weight: 700;				
				padding: 20px 10px 20px 25px;			
				@media(max-width:460px) {
					font-size:24px;	
					padding: 20px 15px 20px 25px;
				}
			}			
			
			.menu.submenu {				
					li {
						 border-bottom: none !important;  
						 border-top: 1px solid $submenu-border-color;
						 background-color: $submenu-bg-color;  
						 &:before { background-color:transparent !important; }
						 &:hover {	
							 background-color:$submenu-bg-color-hover;
							 a { color:$submenu-font-color-hover; }											
							 &:before { background-color:transparent !important;  } 
						}
								
					 }
					a { color:$submenu-font-color; text-transform: capitalize; font-weight: 600;  }
					
					.menu.submenu {						
							li {
						 border-bottom: none !important;  
						 border-top: 1px solid $subsubmenu-border-color;
						 background-color: $subsubmenu-bg-color;  }
						 a { color:$subsubmenu-font-color; &:hover { color:$subsubmenu-font-color-hover; }  }
					}
				}
			
			
		}
	}
}
.off-canvas-content {
	position: relative;
	z-index: 0;
}
.off-canvas-content.is-open-top.has-transition-push {
	margin-top: -2rem !important;
}




// Start Curtain Style Mobile Nav Styles

$curtain-menu-color: rgba($primary-color,0.99);
$curtain-menu-text-color: $white;
$curtain-menu-font-size: rem-calc(25);
$curtain-menu-button-size: rem-calc(40);

.curtain-menu {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  top: 0;
  pointer-events: none;
}

.curtain-menu-wrapper {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;;
  transition: transform 0.5s;
  transition-delay: 0.5s;
  visibility: hidden;

  .curtain-menu-list {
    width: 100%;
    li {
      width: 100%;
      font-weight: 100;
      min-height: $curtain-menu-font-size;
      padding: 1rem;
      text-align: center;
      justify-content: center;
      transition: all 0.2s ease-in;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  transform: translateX(100%);
	  transition: transform 0.5s;
	  transition-delay: 0.5s;
	  visibility: hidden;

	  @for $ia from 1 to 20 {
	  	&:nth-of-type(#{$ia}) { transition-delay: $ia * 0.25s; }
	  }
	 
      a {
		font-size: $curtain-menu-font-size;
        color: $curtain-menu-text-color;
        justify-content: center;
        display: inline-block;
		width: auto;
	    float: none;
        position: relative;
        &.hvr-underline-from-center:before {
	        background-color: rgba($white, .4);
	        
        }
      }
	  &.menu-item {
		  > a:before {
		  content: '';
		  position: absolute;
		  bottom: 0;
		  left: 50%;
		  width: 0%;
		  -webkit-transform: translateX(-50%);
		  transform: translateX(-50%);
		  height: 3px;
		  background: #FFF;
		  -webkit-transition: .35s;
		  transition: .35s;
		  }
		  &:hover {
			 > a:before {
				  width: 100%;
			  }
		  }
		  &[aria-expanded="true"] {
			  padding-left: 0;
			  padding-right: 0;
			  a:after {
			  	transition: .33s ease-in-out;
			  	-ms-transform: rotate(90deg); /* IE 9 */
			  	-webkit-transform: rotate(90deg); /* Safari */
			  	transform: rotate(90deg); /* Standard syntax */				  
			  }
			  ul li {
				& > a:after {
					transition: .33s ease-in-out;
					-ms-transform: rotate(0deg); /* IE 9 */
					-webkit-transform: rotate(0deg); /* Safari */
					transform: rotate(0deg); /* Standard syntax */					  
				}
				&[aria-expanded="true"] {
					& > a:after {
					  transition: .33s ease-in-out;
					  -ms-transform: rotate(90deg); /* IE 9 */
					  -webkit-transform: rotate(90deg); /* Safari */
					  transform: rotate(90deg); /* Standard syntax */					  
					}
									
				}
			  }
		  }
		  &[aria-expanded="true"]:hover {
			  > a:before {width: 0;}
		  }
	  }
    }
  }
}

.curtain-menu .curtain {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.45s;

  &:nth-child(2) {
    flex:1 0 100%;
    background: transparent;
  }

  &:nth-child(odd){
    background: darken($curtain-menu-color, 20%);
  }
}

.curtain-menu-button {
  position: fixed;
  top: 1.25rem;
  right: 1rem;
  z-index: 1000;
}

.curtain-menu-button-toggle {
  width: $curtain-menu-button-size;
  height: $curtain-menu-button-size;
  border-radius: 5000px;
  background: $curtain-menu-text-color;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 3px;
    background: $curtain-menu-color;
    transition: transform 0.3s;
    transition-delay: 0.5s;
  }

  .bar1{
    transform: translateX(-50%)translateY(-50%)rotate(-90deg);
  }

  .bar2{
    transform: translateX(-50%)translateY(-50%)rotate(-180deg);
  }

  &:hover {
    background: $curtain-menu-color;

    div{
      background: $curtain-menu-text-color;
    }
  }

  &:active {
    box-shadow: none;
  }
}

.curtain-menu-open {
  .curtain:nth-child(2) {
    flex: 0 0 0%;
  }

  .curtain-menu-wrapper {
    transform: translateY(0%);
    visibility: visible;
    pointer-events:all;
    .curtain-menu-list li {
    	transform: translateX(0%);
		visibility: visible;	    
    }
  }

 .curtain-menu-button-toggle {

    .bar1{
      transform: translateX(-50%)translateY(-50%)rotate(-45deg);
    }

    .bar2{
      transform: translateX(-50%)translateY(-50%)rotate(-135deg);
    }
  }
}
.curtain-menu-button-home {
    position: fixed;
	a { color: #fff;}
	z-index: 1000;
    left: 1.6rem;
    top: 1.6rem;
  
}
.is-fixed {
    .curtain-menu-button-home { 
	    transition: .8s ease-in-out;
	    img {
			left: 0;
			top: 0;	    
			&.altLogo {
				transition: .33s ease-in-out;
				visibility: visible;
				opacity: 1;
	    	}
			&.logo {
				position: absolute;
				transition: .33s ease-in-out;
				visibility: hidden;
				opacity: 0;
	    	}
	    }	    
    } 
	&.is-stuck .curtain-menu-button-home {
		img {
			left: 0;
			top: 0;	    	    	
	    	&.altLogo {
				visibility: hidden;
				opacity: 0;
	    	}
			&.logo {
				position: absolute;
				visibility: visible;
				opacity: 1;
			}	    
		} 	
	}
	min-height: 0;
	//transition: .5s ease-in-out;
	.curtain-menu-button {
		transition: .8s ease-in-out;
		.curtain-menu-button-toggle {
			
		}
	}
	&.is-stuck.is-at-top {
		min-height: 55px;
		background-color: rgba($white, 1);
		.curtain-menu-button-home {
			top: .7rem;
		}
		.curtain-menu-button {
			top: .5rem;
			.curtain-menu-button-toggle {
				background-color: $primary-color;
				div {
					background-color: $white;
				}
			}
		}
	}
}
.curtain-menu-open {
	.is-fixed {
	    .curtain-menu-button-home { 
		    img {
				left: 0;
				top: 0;	    
				&.altLogo {
					transition: .33s ease-in-out;
					visibility: visible;
					opacity: 1;
		    	}
				&.logo {
					position: absolute;
					transition: .33s ease-in-out;
					visibility: hidden;
					opacity: 0;
		    	}
		    }	    
	    } 
		&.is-stuck .curtain-menu-button-home {
			img {
				left: 0;
				top: 0;	    	    	
				&.altLogo {
					transition: .33s ease-in-out;
					visibility: visible;
					opacity: 1;
		    	}
				&.logo {
					position: absolute;
					transition: .33s ease-in-out;
					visibility: hidden;
					opacity: 0;
		    	}	    
			} 	
		}
	}	
}
.curtain-menu-wrapper {
	.is-drilldown {
		width: 100%;
		max-width: 100%;
	}
	.menu.drilldown {
		li,
		li a {
			background-color: transparent;
		}
		.is-drilldown-submenu {
			background-color: transparent;
		}
		.is-drilldown-submenu {
			position: relative;
			&.invisible {
				height: 0;
				visibility: hidden;
			}
		}
	}
}
.drilldown.align-right .is-drilldown-submenu-parent>a:after, .drilldown .js-drilldown-back>a:before {
	border-color: transparent #d7dce0 transparent transparent;
}

.drilldown.align-left .is-drilldown-submenu-parent>a:after, .drilldown .is-drilldown-submenu-parent>a:after {
	right: 0rem;
	border-color: transparent transparent transparent #d7dce0;
}
  
// End Curtain Style Mobile Nav Styles