/*********************
SIDEBARS & ASIDES
*********************/

// Flexible Fields Sub Pages

.twocol-widget {
	.entry-content {
		.widgeter {
			&:first-child { 
				@include breakpoint(medium) { padding-right:10px; } 
			}
			&:last-child { 
				@include breakpoint(medium) { padding-left:10px; } 
			}
			margin-bottom:2em;
			.widgetBoxWrap {
				min-height: 100% !important;
				margin-bottom: 0 !important;
			}
		}
	}
}


.sidebar {
	li{
		list-style: none;
	}
	p.spacerP {
		line-height: 1rem;
	}
}

.widget {
	margin-bottom: 2rem;
	.widgettitle {
		margin-bottom: 1.5rem;
	}
	ul {
		margin: 0;
	}
}

// Custom Widget Styles
.widgetBoxWrap {
	margin-bottom: 2rem;
	background-color:#eee;
	@include box-shadow();
	p,
	a.button {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.widgetBox {
	.widgettitle {
		margin-bottom: .5rem;
	}
	.widget {
		margin-bottom: 0;
	}
}

 
 .widget-reviews, 
 .widget-before-and-after, 
 .widget-request-consultation,
 .widget-meet-the-doctor {
	 @include breakpoint(small) { padding:30px }
	 @include breakpoint(medium) { padding:30px 10px; }
	 @include breakpoint(xmedium) { padding:30px; }
}

.widget-contact-form {
	color:white;
	h2 , h3 , h4 {
		color:white;
	}
}