body .revContent {

  color: #222;
  min-height: 900px !important;
  /*** Header styles ***/
  /*** Content Styles ***/
  /*** Sidebar ***/ }
  body .revContent .r-row {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-width: 1140px !important; }
  @media (max-width: 639px) {
    body .revContent #sourcewrap, body .revContent #procedurewrap {
      display: none; } }
  @media (min-width: 640px) {
    body .revContent #sourcewrap, body .revContent #procedurewrap {
      display: block !important; } }
  @media (max-width: 768px) {
    body .revContent .reviews-content .source_cont {
      margin-bottom: 25px; } }
  @media (max-width: 768px) and (min-width: 640px) {
    body .revContent .reviews-content .rating-stars-wrapper,
    body .revContent .reviews-content .excerpts_cont {
      padding-left: 0;
      padding-right: 0; } }
  body .revContent .reviews-content .button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    border-radius: 0;
    padding: 0.85em 1em;
    border: 0;
    width: 100%; }
  body .revContent .reviews-content .rating-stars {
    text-align: center; }
    body .revContent .reviews-content .rating-stars i {
      color: #ffd700; }
    body .revContent .reviews-content .rating-stars .rating-text {
      font-size: 11px; }
    @media (max-width: 1200px) and (min-width: 1025px) {
      body .revContent .reviews-content .rating-stars i {
        font-size: 13px; } }
    @media (max-width: 768px) and (min-width: 640px) {
      body .revContent .reviews-content .rating-stars i {
        font-size: 12px; } }
    @media (max-width: 322px) {
      body .revContent .reviews-content .rating-stars i {
        font-size: 11px; } }
  body .revContent .reviews-content .element-item {
    margin-bottom: 10px; }
  body .revContent .reviews-content .revtext {
    overflow: hidden;
    height: 110px;
    position: relative; }
  body .revContent .reviews-content .source-date-review {
    margin-bottom: 15px;
    font-size: 12px; }
  body .revContent .reviews-content .rev_img {
    width: 75%;
    margin: auto;
    display: block;
    padding-top: 13px;
    padding-bottom: 10px; }
  body .revContent .reviews-content #more, body .revContent .reviews-content #less {
    cursor: pointer; }
  body .revContent .reviews-content .fader.revtext.short:before {
    z-index: 10;
    display: block;
    position: absolute;
    bottom: 0;
    height: 100px;
    left: 0;
    right: 0;
    content: "";
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    -moz-transition: background 0.8s ease-in-out;
    -o-transition: background 0.8s ease-in-out;
    -webkit-transition: background 0.8s ease-in-out;
    transition: background 0.8s ease-in-out; }
  @media (max-width: 1024px) and (min-width: 769px) {
    body .revContent .reviews-content .rating-stars-wrapper, body .revContent .reviews-content .excerpts_cont {
      padding-left: 0 !important;
      padding-right: 0 !important; } }
  @media (max-width: 1024px) {
    body .revContent .hide-for-medium {
      display: block; } }
  @media (min-width: 1025px) {
    body .revContent .show-for-medium {
      display: block; } }

/*# sourceMappingURL=style.css.map */
