// FONTS
$font-color:#222;

$font-size: 16px;


$row-max-width: 1140px;


body {	
	.revContent {
	
		color:$font-color;			
		min-height:900px !important;
		/*** Header styles ***/
		.header-banner {
			
		}
	
		.r-row {
			padding-left: 0;
			padding-right: 0;				
			margin-left: auto;
			margin-right: auto;
			float: none;
			max-width:$row-max-width !important;
		}
		
		#sourcewrap , #procedurewrap {
			@media (max-width:639px) {
				display: none;
			}
			@media (min-width:640px) {
				display:block !important;
			}
		
		}
	
		/*** Content Styles ***/
		.reviews-content {
			@media (max-width:768px) {
				.source_cont { margin-bottom:25px; }
			}
			.rating-stars-wrapper,
			.excerpts_cont {
				@media (max-width:768px) and (min-width:640px) {
					padding-left:0;
					padding-right:0;
				}				
			}
			
		
			.button {
				display: inline-block;
				text-align: center;
				line-height: 1;
				cursor: pointer;
				border-radius: 0;
				padding: 0.85em 1em;
				border:0;
				width:100%;
				
			}
			.rating-stars {
				text-align: center;
				i { color:#ffd700; }
				.rating-text { font-size:11px; }
				
				@media (max-width:1200px) and (min-width:1025px) {
					i { font-size:13px; }
				}
				@media (max-width:768px) and (min-width:640px) {
					i { font-size:12px; }
				}
				@media (max-width:322px) {
					i { font-size:11px; }	
				}
			}
			.element-item {
				margin-bottom:10px;
			}
			.revtext {
				overflow:hidden;
				height: 120px;;
				position: relative;
			}
			.source-date-review {
				margin-bottom: 15px;
				font-size:12px;
			}
			.rev_img {
				width:75%;
				margin:auto;
				display:block;
				padding-top:13px;
				padding-bottom:10px;
			}
			#more, #less {
				cursor: pointer;
			}
			.fader.revtext.short:before {
			    z-index: 10;
			    display: block;
			    position: absolute;
			    bottom: 0;
			    height: 100px;
			    left: 0;
			    right: 0;
			    content: "";
			    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
			    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
			    -moz-transition: background 0.8s ease-in-out;
			    -o-transition: background 0.8s ease-in-out;
			    -webkit-transition: background 0.8s ease-in-out;
			    transition: background 0.8s ease-in-out;
			}	
			.rating-stars-wrapper, .excerpts_cont {
				@media (max-width:1024px) and (min-width:769px) {
					padding-left:0 !important;
					padding-right:0 !important;
				}
			
			}		
		}
				
		/*** Sidebar ***/
		.reviews-sidebar {
			
		}		
		
		@media (max-width:1024px) {
			.hide-for-medium {
				display:block;
			}
		}
		
		@media (min-width:1025px) {
			.show-for-medium {
				display:block;
			}
		}
	}
}